<div class="w-full grid min-h-screen bg-[#dad7cd] p-5">
  <h1
    class="text-4xl sm:text-5xl md:text-7xl font-bold text-black font-mono mb-8"
  >
    Made for you
  </h1>

  <div class="flex items-center gap-4 mb-8">
    <!-- Search Bar -->
    <app-search-track
      class="w-[70%]"
      (search)="onSearch($event)"
    ></app-search-track>

    <!--  Categories Dropdown -->
    <div class="w-[30%]">
      <div
        class="h-10 bg-white flex border border-gray-200 rounded font-mono items-center"
      >
        <input
          [value]="selectedCategory"
          class="px-4 appearance-none outline-none text-black font-mono w-full"
          readonly
        />

        <button
          *ngIf="selectedCategory !== 'all'"
          (click)="onCategoryChange('all')"
          class="cursor-pointer outline-none focus:outline-none transition-all text-gray-300 hover:text-gray-600"
        >
          <svg
            class="w-4 h-4 mx-2 fill-current"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
        </button>

        <button
          (click)="isDropdownOpen = !isDropdownOpen"
          class="cursor-pointer outline-none focus:outline-none border-l border-gray-200 transition-all text-gray-300 hover:text-gray-600"
        >
          <svg
            class="w-4 h-4 mx-2 fill-current"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <polyline points="18 15 12 9 6 15"></polyline>
          </svg>
        </button>
      </div>

      <div
        *ngIf="isDropdownOpen"
        class="absolute rounded shadow bg-white overflow-hidden flex flex-col w-full mt-1 border border-gray-200 z-10"
      >
        <div class="cursor-pointer group" (click)="onCategorySelect('all')">
          <a
            class="block p-2 border-transparent border-l-4"
            [class.border-blue-600]="selectedCategory === 'all'"
            [class.bg-gray-100]="selectedCategory === 'all'"
          >
            All
          </a>
        </div>
        @for (category of categories; track category) {
        <div
          class="cursor-pointer group border-t"
          (click)="onCategorySelect(category)"
        >
          <a
            class="block p-2 border-transparent border-l-4"
            [class.border-blue-600]="selectedCategory === category"
            [class.bg-gray-100]="selectedCategory === category"
          >
            {{ category }}
          </a>
        </div>
        }
      </div>
    </div>
  </div>

  <!-- Tracks Grid -->
  <section
    class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-4"
  >
    @if (tracks$ | async; as tracks) { @if (tracks.length) { @for (track of
    tracks; track track.id) {
    <div class="overflow-hidden">
      <div class="group relative aspect-square">
        <img
          [src]="track.imageUrl || 'assets/default-album.png'"
          [alt]="track.title"
          class="w-full h-full object-cover rounded-[10%]"
        />
        <div
          class="absolute bg-black rounded-[10%] bg-opacity-0 group-hover:bg-opacity-60 w-full h-full top-0 flex items-center group-hover:opacity-100 transition justify-evenly"
        >
          <button
            class="hover:scale-110 text-white opacity-0 transform translate-y-3 group-hover:translate-y-0 group-hover:opacity-100 transition"
            (click)="toggleFavorite(track, $event)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              [class.text-red-500]="track.isFavorite"
              viewBox="0 0 16 16"
            >
              @if (track.isFavorite) {
              <path
                fill-rule="evenodd"
                d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
              />
              } @else {
              <path
                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"
              />
              }
            </svg>
          </button>
          <button
            class="hover:scale-110 text-white opacity-0 transform translate-y-3 group-hover:translate-y-0 group-hover:opacity-100 transition"
            (click)="playTrack(track)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              fill="currentColor"
              class="bi bi-play-circle-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"
              />
            </svg>
          </button>

          <a
            [routerLink]="['/tracks', track.id]"
            class="hover:scale-110 text-white opacity-0 transform translate-y-3 group-hover:translate-y-0 group-hover:opacity-100 transition"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              class="bi bi-three-dots"
              viewBox="0 0 16 16"
            >
              <path
                d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
              />
            </svg>
          </a>
        </div>
      </div>
      <h3
        class="text-black text-m font-bold font-mono truncate mt-2 text-center"
      >
        {{ track.title }}
      </h3>
    </div>
    } } @else {
    <div class="col-span-full text-center py-6">
      <div class="w-2/3 mx-auto">
        <div
          class="bg-white border-slate-100 dark:bg-slate-800 dark:border-slate-500 border-b rounded-t-xl p-4 pb-6 sm:p-10 sm:pb-8 lg:p-6 xl:p-10 xl:pb-8 space-y-6 sm:space-y-8 lg:space-y-6 xl:space-y-8 items-center"
        >
          <div class="flex items-center space-x-4">
            <img
              src="https://res.cloudinary.com/dlwyetxjd/image/upload/v1736176351/pmlvnyxxovxdhrugfjn0.jpg"
              alt=""
              width="88"
              height="88"
              class="flex-none rounded-lg bg-slate-100"
              loading="lazy"
            />
            <div class="min-w-0 flex-auto space-y-1 font-semibold">
              <p class="text-cyan-500 dark:text-cyan-400 text-sm leading-6">
                No Tracks found:
              </p>
              <h2 class="text-black font-mono text-sm">
                Click to the upload button to upload your tracks
              </h2>
            </div>
          </div>
          <div class="space-y-2">
            <div class="relative">
              <div
                class="bg-slate-100 dark:bg-slate-700 rounded-full overflow-hidden"
              >
                <div
                  class="bg-cyan-500 dark:bg-cyan-400 w-1/2 h-2"
                  role="progressbar"
                  aria-label="music progress"
                  aria-valuenow="1456"
                  aria-valuemin="0"
                  aria-valuemax="4550"
                ></div>
              </div>
              <div
                class="ring-cyan-500 dark:ring-cyan-400 ring-2 absolute left-1/2 top-1/2 w-4 h-4 -mt-2 -ml-2 flex items-center justify-center bg-white rounded-full shadow"
              >
                <div
                  class="w-1.5 h-1.5 bg-cyan-500 dark:bg-cyan-400 rounded-full ring-1 ring-inset ring-slate-900/5"
                ></div>
              </div>
            </div>
            <div
              class="flex justify-between text-sm leading-6 font-medium tabular-nums"
            >
              <div class="text-cyan-500 dark:text-slate-100">1:75</div>
              <div class="text-slate-500 dark:text-slate-400">3:20</div>
            </div>
          </div>
        </div>
        <div
          class="bg-slate-50 text-slate-500 dark:bg-slate-600 dark:text-slate-200 rounded-b-xl flex items-center"
        >
          <div class="flex-auto flex items-center justify-evenly">
            <div aria-label="Add to favorites">
              <svg width="24" height="24">
                <path
                  d="M7 6.931C7 5.865 7.853 5 8.905 5h6.19C16.147 5 17 5.865 17 6.931V19l-5-4-5 4V6.931Z"
                  fill="currentColor"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div
              class="hidden sm:block lg:hidden xl:block"
              aria-label="Previous"
            >
              <svg width="24" height="24" fill="none">
                <path
                  d="m10 12 8-6v12l-8-6Z"
                  fill="currentColor"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M6 6v12"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div aria-label="Rewind 10 seconds">
              <svg width="24" height="24" fill="none">
                <path
                  d="M6.492 16.95c2.861 2.733 7.5 2.733 10.362 0 2.861-2.734 2.861-7.166 0-9.9-2.862-2.733-7.501-2.733-10.362 0A7.096 7.096 0 0 0 5.5 8.226"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M5 5v3.111c0 .491.398.889.889.889H9"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
          <button
            class="bg-white text-slate-900 dark:bg-slate-100 dark:text-slate-700 flex-none -my-2 mx-auto w-20 h-20 rounded-full ring-1 ring-slate-900/5 shadow-md flex items-center justify-center"
            aria-label="Pause"
            (click)="openUploadModal()"
          >
            <img
              src="https://res.cloudinary.com/dlwyetxjd/image/upload/v1735831510/r9ybragkqlnycr9z5dow.png"
              alt=""
            />
          </button>
          <div class="flex-auto flex items-center justify-evenly">
            <div aria-label="Skip 10 seconds">
              <svg width="24" height="24" fill="none">
                <path
                  d="M17.509 16.95c-2.862 2.733-7.501 2.733-10.363 0-2.861-2.734-2.861-7.166 0-9.9 2.862-2.733 7.501-2.733 10.363 0 .38.365.711.759.991 1.176"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M19 5v3.111c0 .491-.398.889-.889.889H15"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div class="hidden sm:block lg:hidden xl:block" aria-label="Next">
              <svg width="24" height="24" fill="none">
                <path
                  d="M14 12 6 6v12l8-6Z"
                  fill="currentColor"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M18 6v12"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div
              class="rounded-lg text-xs leading-6 font-semibold px-2 ring-2 ring-inset ring-slate-500 text-slate-500 dark:text-slate-100 dark:ring-0 dark:bg-slate-500"
            >
              1x
            </div>
          </div>
        </div>
      </div>
    </div>
    } }
  </section>
</div>
